In [6]:
import pandas as pd

In [10]:
# Define the headers from the OpenCellID Database
column_names = [
    'radio', 'mcc', 'net', 'area', 'cell', 'unit',
    'lon', 'lat', 'range', 'samples', 'changeable',
    'created', 'updated', 'averageSignal'
]

In [19]:
# Read in your data with no headers, assuming tab-separated values
df = pd.read_csv(
    'data/THA.csv',
    header=None,
    names=column_names,
    engine='python'
)

In [20]:
df.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
0,UMTS,520,0,6021,40934882,145,100.3667,7.0857,11081,2,1,1468634014,1749452523,0
1,LTE,520,3,845,165131877,0,100.6694,13.6830,3000,44,1,1477307169,1746878884,0
2,UMTS,520,0,6,725200,102,100.5629,13.8491,1000,60,1,1399398964,1705294982,0
3,UMTS,520,0,6,721821,95,100.5738,13.8700,3444,131,1,1399398975,1705294983,0
4,UMTS,520,0,6,721818,79,100.5697,13.8792,2726,53,1,1399398966,1705294983,0

In [21]:
df.to_csv("data/cell_towers_THA.csv", index=False)

In [22]:
df

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
0,UMTS,520,0,6021,40934882,145,100.3667,7.0857,11081,2,1,1468634014,1749452523,0
1,LTE,520,3,845,165131877,0,100.6694,13.6830,3000,44,1,1477307169,1746878884,0
2,UMTS,520,0,6,725200,102,100.5629,13.8491,1000,60,1,1399398964,1705294982,0
3,UMTS,520,0,6,721821,95,100.5738,13.8700,3444,131,1,1399398975,1705294983,0
4,UMTS,520,0,6,721818,79,100.5697,13.8792,2726,53,1,1399398966,1705294983,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34550,LTE,520,4,11613,49924128,-1,101.3023,6.5831,1000,7,1,1750216975,1750237623,0
34551,LTE,520,4,11613,49924126,-1,101.3039,6.5850,1000,9,1,1750217016,1750237623,0
34552,LTE,520,4,11613,49924096,-1,101.3047,6.5856,1000,2,1,1750217066,1750237623,0
34553,LTE,520,4,11613,49924097,-1,101.3049,6.5856,1000,4,1,1750217090,1750237623,0
34554,LTE,520,4,11613,49924127,-1,101.3049,6.5856,1000,2,1,1750217110,1750237623,0